@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

/* Global configurations */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

img {
  max-height: 100%;
  max-width: 100%;
}

h2 {
  font-size: 2em;
  letter-spacing: 8px;
  margin-bottom: 1em;
}

.container-img {
  height: 180px;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  text-align: center;
  border-bottom: 1px solid #33a8db;
  /* background */
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.3),
      rgba(0, 0, 0, 0.6)
    ),
    url(./img/code.png) no-repeat;
  background-size: cover;
  background-position: bottom left;
}

header .container-img {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

/* Subscription section */

h1 {
  font-weight: 900;
  font-size: 2em;
  margin: 20px 0;
}

.subscription p {
  margin: 0 auto;
  width: 35vw;
  line-height: 1.75;
}

.subscription button {
  margin: 1.3em 0;
  background-color: transparent;
  font-size: 1em;
  font-weight: 900;
  padding: 0.5em 2em;
  border-image: linear-gradient(#33a8db, #1472b7);
  border-image-slice: 10;
  border-radius: 30px;
  cursor: pointer;
}

.banner-title {
  text-transform: uppercase;
  background: linear-gradient(#33a8db, #1472b7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Apprenticeship section */

.apprenticeship {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7em 0;
  text-align: center;
}

.apprenticeship p {
  width: 60vw;
  margin: 0 auto;
}

.module-list {
  margin: 2em 0 0;
}

.module-topic {
  list-style: none;
  padding: 0.9em 5em;
  margin-bottom: 1.5em;
  border: 1px solid #33a8db;
  background-color: #252525;
  box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.module-topic strong {
  color: #33a8db;
  font-weight: 300;
}

/* Banner section */

div.banner {
  padding: 5em;
  height: 300px;
  background: url(./img/banner1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  border-top: 1px solid #33a8db;
  border-bottom: 1px solid #33a8db;
}

div.banner p {
  font-size: 2.5em;
  margin-left: 2em;
  font-weight: 900;
  text-shadow: 3px 2px 0 #33a8db;
}

/* Motivation section */

.motivation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5em 0;
  border-bottom: 1px solid #33a8db;
}

.motivation h2 {
  width: 80vw;
}

.motivation .container-img {
  height: 400px;
}

.motivation p {
  width: 60vw;
  margin: 2em 0;
  line-height: 1.5;
}

/* Footer */

footer {
  padding: 5em 0 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#000 58%, rgba(49, 168, 221, 0.3));
}

footer .container-img {
  height: 50px;
}

footer a {
  text-decoration: none;
  color: #33a8db;
  font-weight: 700;
}
